.vs/jamming-app.slnx/v18/DocumentLayout.json
.vs/jamming-app.slnx/v18/DocumentLayout.backup.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/jamming-app/CopilotIndices/18.0.981.45449/CodeChunks.db
.vs/jamming-app/CopilotIndices/18.0.981.45449/SemanticSymbols.db
.vs/jamming-app.slnx/FileContentIndex/cdfec1ee-d9e5-488b-8da1-32657642cd83.vsidx
.vs/jamming-app.slnx/v18/.wsuo
